<div class="card">

    <img
        class="imagen-publicacion"
        [src]="imagen"
        alt="publicacion">

    <div class="contenido">

        <h2>
            {{ titulo }}
        </h2>

        <p>
            {{ descripcion }}
        </p>

        <div class="footer">

            <div class="contador-likes">

                {{ likes.length }}
                Me gusta

            </div>

            @if(!tieneLike){

                <button
                    class="btn-like"
                    type="button"
                    (click)="darLike()">

                    Me gusta

                </button>

            }

            @if(tieneLike){

                <button
                    class="btn-unlike"
                    type="button"
                    (click)="quitarLike()">

                    Quitar me gusta

                </button>

            }

        </div>

    </div>

</div>