<div class="card">

    <img
        class="imagen-publicacion"
        [src]="imagen"
        alt="publicacion">

    <div class="contenido">

        <h2>
            {{ titulo }}
        </h2>

        <p>
            {{ descripcion }}
        </p>

        <div class="footer">

            <div class="contador-likes">

                {{ likes.length }}
                Me gusta

            </div>

            <div class="acciones-publicacion">

                @if(usuarioId === usuarioActual){

                    <button
                        class="btn-eliminar"
                        type="button"
                        (click)="eliminarPublicacion()">

                        Eliminar

                    </button>

                }

                @if(!tieneLike){

                    <button
                        class="btn-like"
                        type="button"
                        (click)="darLike()">

                        Me gusta

                    </button>

                }

                @if(tieneLike){

                    <button
                        class="btn-unlike"
                        type="button"
                        (click)="quitarLike()">

                        Quitar me gusta

                    </button>

                }

            </div>

        </div>

        <div class="comentarios-header">

            Comentarios ({{ comentarios.length }})

        </div>

        <div class="comentarios">

            @for(comentario of comentarios; track $index){

                <div class="comentario">

                    <strong>
                        &#64;{{ comentario.usuario }}
                    </strong>

                    <p>
                        {{ comentario.texto }}
                    </p>

                </div>

            }

        </div>

        @if(usuarioActual){

            <div class="nuevo-comentario">

                <input
                    type="text"
                    placeholder="Escribí un comentario..."
                    [(ngModel)]="nuevoComentario">

                <button
                    type="button"
                    (click)="agregarComentario()">

                    Comentar

                </button>

            </div>

        }

    </div>

</div>