<div class="card">

    @if(imagen){

        <img
            class="imagen-publicacion"
            [src]="imagen"
            alt="publicacion">

    }

    <div class="contenido">

        <div class="fecha-publicacion">

            🕒 {{ fecha | date:'dd/MM/yyyy - HH:mm' }}

        </div>

        <h2>
            {{ titulo }}
        </h2>

        <p>
            {{ descripcion }}
        </p>

        <div class="footer">

            <div class="contador-likes">

                ❤️ {{ likes.length }}

            </div>

            <div class="acciones-publicacion">

                @if(usuarioId === usuarioActual){

                    <button
                        class="btn-eliminar"
                        type="button"
                        (click)="eliminarPublicacion()">

                        🗑️ Eliminar

                    </button>

                }

                @if(!tieneLike){

                    <button
                        class="btn-like"
                        type="button"
                        (click)="darLike()">

                        ❤️ Me gusta

                    </button>

                }

                @if(tieneLike){

                    <button
                        class="btn-unlike"
                        type="button"
                        (click)="quitarLike()">

                        💔 Quitar

                    </button>

                }

            </div>

        </div>

        <div class="comentarios-header">

            💬 Comentarios ({{ comentarios.length }})

        </div>

        <div class="comentarios">

            @for(
                    comentario of comentarios.slice(0, comentariosVisibles);
                    track $index
                    ){

                <div class="comentario">

                    <strong>
                        &#64;{{ comentario.usuario }}
                    </strong>

                    @if(comentarioEditando === $index){

    <div class="editar-comentario">

        <input
            type="text"
            [(ngModel)]="textoEditado">

        <button
            class="btn-guardar-comentario"
            (click)="guardarComentario($index)">

            💾 Guardar

        </button>

    </div>

} @else {

            <p>
                {{ comentario.texto }}

                @if(comentario.editado){

                    <span class="comentario-editado">
                        (editado)
                    </span>

                }

            </p>
                @if(comentario.usuarioId === usuarioActual){

                <button
                    class="btn-editar-comentario"
                    (click)="editarComentario(
                        $index,
                        comentario.texto
                    )">

                    ✏️ Editar

                </button>

}


        }

                </div>

            }

            </div>
                        @if(comentarios.length > comentariosVisibles){

                <button
                    class="btn-cargar-mas"
                    (click)="cargarMasComentarios()">

                    Ver más comentarios

                </button>

            }
        @if(usuarioActual){

            <div class="nuevo-comentario">

                <input
                    type="text"
                    placeholder="Escribí un comentario..."
                    [(ngModel)]="nuevoComentario">

                <button
                    class="btn-comentar"
                    type="button"
                    (click)="agregarComentario()">

                    ✈️ Enviar

                </button>

            </div>

        }

    </div>

</div>