<nav class="navbar">

    <div class="navbar-left">

        <div class="logo">
            RS
        </div>

        <span class="brand">
            RedSocial
        </span>

    </div>

    <div class="navbar-center">

        <a
            routerLink="/publicaciones"
            routerLinkActive="active-link">
            Publicaciones
        </a>

        <a
            routerLink="/perfil"
            routerLinkActive="active-link">
            Mi Perfil
        </a>

        <a
            routerLink="/registro"
            routerLinkActive="active-link">
            Registro
        </a>

        <a
            routerLink="/login"
            routerLinkActive="active-link">
            Login
        </a>

    </div>

</nav>