<nav class="navbar">

    <div class="navbar-left">

        <div class="logo">
            EN
        </div>

        <div class="brand-container">

            <span class="brand">
                Encuentro
            </span>

            <span class="brand-subtitle">
                Networking Profesional
            </span>

        </div>

    </div>

    <div class="navbar-right">

        <a
            routerLink="/publicaciones"
            routerLinkActive="active-link">
            Publicaciones
        </a>

        <a
            routerLink="/perfil"
            routerLinkActive="active-link">
            Mi Perfil
        </a>

        @if(!estaLogueado){

            <a
                routerLink="/registro"
                routerLinkActive="active-link">
                Registro
            </a>

            <a
                routerLink="/login"
                class="login-btn">
                Iniciar sesión
            </a>

        }

        @if(estaLogueado){

            <button
                type="button"
                (click)="cerrarSesion()"
                class="login-btn">
                Cerrar sesión
            </button>

        }

    </div>

</nav>